<div style="background-color:#3eb8cd; color:#fff; border-bottom:solid 10px #1a92ab;  float:left; width:100%">
	<div style="max-width:700px; margin:0 auto">
		<table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:#3eb8cd; font:13px tahoma; color:#fff;">
			<tbody>
			<tr>
				<td style="text-align:center"><img src="https://img.tenten.vn/k/email/img_footer_donhang.jpg" width="100%"/></td>
			</tr>
			<tr>
				<td style="font:700 14px tahoma; margin:0 0 0 10px; float:left; width:100%">CÔNG TY CỔ PHẦN GMO-Z.com RUNSYSTEM </td>
			</tr>
			<tr>
				<td>
					<p style="color:#fff;margin:15px 0 0 10px;font:13px tahoma"><strong>Trụ sở chính:</strong> Tầng 6, Tòa nhà Ocean Park, Số 01 Đào Duy Anh, Phường Phương Mai, Quận Đống Đa, TP. Hà Nội.</p>
					<p style="color:#fff;margin:0 0 0 10px;font:13px tahoma">Tel: (04) 3772 4304 / Fax: (04) 3772 5204</p>
					<p style="color:#fff;margin:15px 0 0 10px;font:13px tahoma"><strong>Chi nhánh Đà Nẵng:</strong> Tầng 6, Tòa nhà Sapphire, 203 Ông Ích Khiêm, Quận Hải Châu, TP. Đà Nẵng.</p>
					<p style="color:#fff;margin:0 0 0 10px;font:13px tahoma">Tel: (0511) 3886 066 / Fax: (0511) 3866 065</p>
					<p style="color:#fff;margin:15px 0 0 10px;font:13px tahoma"><strong>Chi nhánh HCM:</strong> Lầu 7, Tòa nhà Hà Đô, Số 2, Đường Hồng Hà, Phường 2, Quận Tân Bình, TP. Hồ Chí Minh.</p>
					<p style="color:#fff;margin:0 0 0 10px;font:13px tahoma">Tel: (083) 848 9197</p>
					<p style="color:#fff;margin:15px 0 0 10px;font:13px tahoma">Website: <a href="http://tenten.vn" target="_blank" style="color:#fff">http://tenten.vn</a></p>
					<p style="color:#fff;margin:0 0 0 10px;font:13px tahoma">Email: <a href="mailto:info@tenten.vn" style="color:#fff">info@tenten.vn</a></p>
					<p style="color:#fff;margin:0 0 20px 10px;font:13px tahoma">Hotline: 0471 089 999 - 0473.020.555 (Kỹ thuật 24/7) </p>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
