.content{
	width: 700px;
	height: 900px;
	border: 2px solid #ccc;
	margin: 40px auto;
	border-radius: 6px;
}
.login{
	border: 2px solid #ccc;
	border-radius: 6px;
    background: #ccc;
    text-align: center;
    width: 700px;
    height: 70px;
    margin-bottom: 20px;
    line-height: 70px;
    font-size:25px;
}
div.col-sm-10.inputt{
    margin-left: 113px;
}
